<div class="filter-container">
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Filter by House</mat-label>

    <mat-select [(ngModel)]="selectedHouse" (selectionChange)="onHouseSelect()">

      <mat-option value="">
        All Houses
      </mat-option>

      <mat-option value="Gryffindor">
        Gryffindor
      </mat-option>

      <mat-option value="Slytherin">
        Slytherin
      </mat-option>

      <mat-option value="Hufflepuff">
        Hufflepuff
      </mat-option>

      <mat-option value="Ravenclaw">
        Ravenclaw
      </mat-option>

    </mat-select>
  </mat-form-field>
</div>