<section class="spells-page">
    <div class="spells-overlay"></div>

  <div class="spells-content">
    <a routerLink="/" class="back-link">← Back Home</a>

    <p class="spells-kicker">Wizarding Magic</p>
    <h1>Spells of the Wizarding World</h1>
    <p class="spells-intro">
      Discover magical spells and learn how they are used throughout the Harry Potter universe.
    </p>

    <div *ngIf="allSpells.length > 0; else loadingBlock" class="spells-list">
      <div class="spell-row" *ngFor="let oneSpell of allSpells">
        <div class="spell-name">{{ oneSpell.name }}</div>
        <div class="spell-description">{{ oneSpell.description }}</div>
      </div>
    </div>

    <ng-template #loadingBlock>
        <div class="loading-block">
            <mat-progress-spinner mode="indeterminate" diameter="50"></mat-progress-spinner>
            <p class="loading-text">{{ loadingText }}</p>
        </div>
    </ng-template>
  
    </div>
</section>